/* General Styling */
.w-100 {
    width: 100%;
}
.section-header {
    --underline-offset: 0.3ch;

    text-decoration: underline;
    text-decoration-color: #424242;
    text-decoration-thickness: 0.25ch;
    text-underline-offset: var(--underline-offset);
    margin-bottom: calc(var(--underline-offset) + 0.2ch);
}
.text-section p {
    text-indent: 1.5rem;
    overflow-wrap: break-word;
    hyphens: auto;
}



/* Navbar Styling */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 4ch;
    font-family: 'Roboto';
    font-size: 1.1rem;
}
.text-link {
    text-decoration: none;
    color: inherit;
    transition: color 0.4s;
}
.text-link:hover {
    color: var(--navbar-link-hover);
}
.navbar-icon {
    border: 2px solid #dedede;
    padding: 0.1ch;
    border-radius: 50%;
    width: 50px;
    vertical-align: middle;
    transition: border-color 0.8s;
}
.navbar-icon:hover {
    border-color: var(--navbar-link-hover);
}

.navbar-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 5ch;
    padding: 1.5ch 0 1.5ch 0;
}
.icon-links {
    display: flex;
    gap: 1ch;
}
.resume {
    border: 1px solid var(--navbar-link-hover);
    padding: 1.2ch;
    border-radius: 5px;
}



/* Home Section Styling */
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 600px;
    gap: 4ch;
}
.typewriter-container {
    text-align: center;
    padding: 0.5ch 0;
    background: #424242;
    border-radius: 8px;
}
.typewriter-container span {
    font-weight: 500;
    font-size: 1.2rem;
}
.typewriter {
    color: red;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2rem;
}
.profile h1 {
    margin-bottom: 0.25ch;
}
.headshot {
    width: 120px;
    border-radius: 50%;
    border: 1px solid white;
}


.icon {
    width: 80px;
}
.icon-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: 1ch;
}
.skill-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1.5ch;
    gap: 1ch;
    background: #424242;
    border-radius: 10px;

    transition: transform 0.25s;
    transition-timing-function: ease-out;
}
.skill-card:hover {
    transform: translateY(-0.5ch);
}


/* Footer */
footer {
    text-align: center;
    margin: 5ch 0 2.5ch 0;
}
