.positions {
    margin-top: 0.5ch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.75ch;
}

.position-card {
    width: 100%;
    padding: 1ch;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border: 3px solid var(--fg-primary);
    border-radius: 10px;
    row-gap: 0.75ch;
    overflow: hidden;
    transition: border 0.5s;
    overflow: visible;
}

.position-card:hover {
    cursor: pointer;
    border: 3px solid var(--fg-varient);
}

.position-card .role {
    color: var(--fg-secondary);
}

.position-card .role,
.position-card .employer {
    align-self: end;
}

.position-card .employer,
.position-card .uses {
    justify-self: end;
}

.uses {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.uses img {
    display: block;
    width: 40px;
    object-fit: contain;
}

.bullet-points {
    grid-column: 1 / -1;
}

.bullet-points li {
    margin-left: 2ch;
}

.bullet-points li:not(:last-of-type) {
    margin-bottom: 0.5ch;
}

.down-arrow {
    margin-top: -0.75ch;
    grid-column: 1 / -1;
    height: 30px;
    display: flex;
    justify-content: center;
}

.down-arrow svg {
    width: 30px;
    height: 30px;
    transition: transform 0.5s;
}

.down-arrow svg.collapse {
    transform: rotate(0);
    fill: var(--fg-primary);
}
.down-arrow svg.show {
    transform: rotate(180deg);
    fill: var(--fg-varient);
}

#down-arrow-stroke {
    fill: inherit;
    transition: fill 0.5s;
}

@media only screen and (max-width: 600px) {
    .position-card {
        grid-template-columns: 1fr;
    }
    .position-card .employer,
    .position-card .uses {
        justify-self: unset;
    }
    .down-arrow {
        margin-top: 0 !important;
    }
}

@media only screen and (min-width: 3500px) {
    .position-card {
        width: calc(50% - 6px);
    }
}